@model IEnumerable<ShoppingCartNew.Models.Code_First.CartItem>

@{
    ViewBag.Title = "Index";
    var shipping = ViewBag.CartItemsTotalCost / 10;
    var taxes = ViewBag.CartItemsTotalCost / 20;
    var total = ViewBag.CartItemsTotalCost + shipping + taxes;
}

<!--Empty Cart Modal-->
<div class="modal fade" id="emptyCartModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h2>Are You Sure You Want to Empty Your Cart?</h2>
                @*<p class="large">Use social accounts</p>
                <div class="social-login">
                    <a class="facebook" href="#"><i class="fa fa-facebook-square"></i></a>
                    <a class="google" href="#"><i class="fa fa-google-plus-square"></i></a>
                    <a class="twitter" href="#"><i class="fa fa-twitter-square"></i></a>
                </div>*@
            </div>
            <div class="modal-body">
                <h1 style="font-size: 14px">
                    @using (Html.BeginForm("EmptyCart", "CartItems", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-black pull-right">Yes</button>
                    }
                    <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true">No</button>
                </h1>
                <br /><br />
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<section class="shopping-cart">
    <div class="container">
        <div class="row">
            <!--Items List-->
            <div class="col-lg-9 col-md-9">
                @if (ViewBag.CartItemsTotalCost > 0)
                {
                    <h2 class="title">Shopping Cart <button class="btn btn-black pull-right" style="font-size: 14px" data-toggle="modal" data-target="#emptyCartModal">Empty Cart</button></h2>
                }
                else
                {
                    <h2 class="title">Shopping Cart is Empty!</h2>

                }
                <hr />
                <table class="items-list">
                    @if (ViewBag.CartItemsTotalCost > 0)
                    {
                        <tr>
                            <th></th>
                            <th><span style="margin-left: 20px">Product Name</span></th>
                            <th>Price Per</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    }
                    <!--Item-->
                    @using (Html.BeginForm("UpdateCart", "CartItems", FormMethod.Post, new { id = "updateCart", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        foreach (var item in Model)
                        {
                            <!--Item-->
                            <tr class="item animated fadeInLeft" style="animation-delay: .25s;animation-duration: .25s">
                                <td class="thumb"><a href="@Url.Action("Details", "Items", new { id = item.Item.Id })"><img class="img-thumbnail center-block" src="@item.Item.MediaURL" alt="Lorem ipsum" /></a></td>
                                <td class="name"><a href="@Url.Action("Details", "Items", new { id = item.Item.Id })"><span style="margin-left: 20px">@item.Item.Name</span></a></td>
                                @if (item.Item.OnSale == true)
                                {
                                    <td class="price"><span style="color:#ff9016; font-size: 12px">SALE</span><br />$ @item.Item.SalePrice</td>
                                }
                                else
                                {
                                    <td class="price">$ @item.Item.Price</td>
                                }
                                <td class="qnt-count">
                                    <a class="incr-btn" href="#">-</a>
                                        <input id="@item.Id" name="quantities" class="quantity form-control" type="text" value="@item.Count">
                                    <a class="incr-btn" href="#">+</a>
                                </td>
                                @if (item.Item.OnSale == true)
                                {
                                    <td class="total"><span style="color:#ff9016; font-size: 12px">SALE</span><br />$ @item.UnitTotal</td>
                                }
                                else
                                {
                                    <td class="total">$ @item.UnitTotal</td>
                                }
                                <td class="delete">
                                    <a href="javascript:document.getElementById('@item.Id-deleteFromCart').submit()"><i class="icon-delete"></i></a>
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
            @foreach (var item in Model)
            {
                    string uniqueId = item.Id + "-deleteFromCart";
                    using (Html.BeginForm("Delete", "CartItems", new { id = item.Id }, FormMethod.Post, new { id = uniqueId }))
                    {
                        @Html.AntiForgeryToken()
                    }
            }

            <!--Sidebar-->
            <div class="col-lg-3 col-md-3 animated fadeInRight" style="animation-delay: .25s;animation-duration: .25s;">
                <h3 style="margin-bottom: 29px">Cart Totals</h3>
                <hr />
                <form class="cart-sidebar" method="post">
                    <div class="cart-totals">
                        <table>
                            <tr>
                                <td>Cart Subtotal</td>
                                <td class="total align-r">$ @ViewBag.CartItemsTotalCost</td>
                            </tr>
                            <tr class="">
                                <td>Shipping</td>
                                <td class="align-r">$ @shipping</td>
                            </tr>
                            <tr class="devider">
                                <td>Taxes</td>
                                <td class="align-r">$ @taxes</td>
                            </tr>
                            <tr>
                                <td>Order Total</td>
                                <td class="total align-r">$ @total</td>
                            </tr>
                        </table>

                        @*<h3>Have a coupon?</h3>
                        <div class="coupon">
                            <div class="form-group">
                                <label class="sr-only" for="coupon-code">Enter coupon code</label>
                                <input type="text" class="form-control" id="coupon-code" name="coupon-code" placeholder="Enter coupon code">
                            </div>
                            <input type="submit" class="btn btn-primary btn-sm btn-block" name="apply-coupon" value="Apply coupon">
                        </div>*@
                        @if (ViewBag.CartItemsTotalCost > 0)
                        {
                            <input class="btn btn-black btn-sm btn-block" onclick="javascript:document.getElementById('updateCart').submit()" name="update-cart" value="Update Quantities">
                            <a href="@Url.Action("Create","Orders")" class="btn btn-primary btn-block">Proceed to Checkout</a>
                        }
                    </div>

                    @*<a class="panel-toggle" href="#calc-shipping"><h3>Calculate shipping</h3></a>
                    <div class="hidden-panel calc-shipping" id="calc-shipping">
                        <div class="form-group">
                            <div class="select-style">
                                <select name="country">
                                    <option>Australia</option>
                                    <option>Belgium</option>
                                    <option>Germany</option>
                                    <option>United Kingdom</option>
                                    <option>Switzerland</option>
                                    <option>USA</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="state">State/ province</label>
                            <input type="text" class="form-control" id="state" name="state" placeholder="State/ province">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="postcode">Postcode/ ZIP</label>
                            <input type="text" class="form-control" id="postcode" name="postcode" placeholder="Postcode/ ZIP">
                        </div>
                        <input type="submit" class="btn btn-primary btn-sm btn-block" name="update-totals" value="Update totals">
                    </div>*@
                </form>
            </div>
        </div>
    </div>
</section><!--Shopping Cart Close-->
