@model ShoppingCartNew.Models.Code_First.Item

@{
    ViewBag.Title = "Details";
}

<section class="catalog-single">
    <div class="container">
        <h2>Item Details</h2>
        <hr /><br />
        <div class="row">

            <!--Product Gallery-->
            <div class="col-lg-6 col-md-6">
                <div class="prod-gal master-slider" id="prod-gal">
                    <!--Slide1-->
                    <div class="ms-slide">
                        <img src="@Model.MediaURL" data-src="@Model.MediaURL" alt="Lorem ipsum" />
                        @*<img class="ms-thumb" src="@Model.MediaURL" alt="thumb" />*@
                    </div>
                    @*<!--Slide2-->
                    <div class="ms-slide">
                        <img src="masterslider/blank.gif" data-src="img/catalog/product-gallery/1.jpg" alt="Lorem ipsum" />
                        <img class="ms-thumb" src="img/catalog/product-gallery/th_1.jpg" alt="thumb" />
                    </div>
                    <!--Slide3-->
                    <div class="ms-slide">
                        <img src="masterslider/blank.gif" data-src="img/catalog/product-gallery/1.jpg" alt="Lorem ipsum" />
                        <img class="ms-thumb" src="img/catalog/product-gallery/th_1.jpg" alt="thumb" />
                    </div>
                    <!--Slide4-->
                    <div class="ms-slide">
                        <img src="masterslider/blank.gif" data-src="img/catalog/product-gallery/1.jpg" alt="Lorem ipsum" />
                        <img class="ms-thumb" src="img/catalog/product-gallery/th_1.jpg" alt="thumb" />
                    </div>
                    <!--Slide5-->
                    <div class="ms-slide">
                        <img src="masterslider/blank.gif" data-src="img/catalog/product-gallery/1.jpg" alt="Lorem ipsum" />
                        <img class="ms-thumb" src="img/catalog/product-gallery/th_1.jpg" alt="thumb" />
                    </div>*@
                </div>
            </div>

            <!--Product Description-->
            <div class="col-lg-6 col-md-6">
                <h1>@Model.Name</h1>
                @if (Model.OnSale == true)
                {
                    <div class="old-price">$ @Model.Price</div>
                    <div class="price">$ @Model.SalePrice</div>
                }
                else
                {
                    <div class="price">$ @Model.Price</div>
                }
                <div class="buttons group">
                    <div class="qnt-count">
                        <a class="incr-btn" href="#">-</a>
                        <input id="quantity" class="form-control" type="text" value="1">
                        <a class="incr-btn" href="#">+</a>
                    </div>
                    @*<a class="btn btn-primary btn-sm" id="addItemToCart" href="#"><i class="icon-shopping-cart"></i>Add to cart</a>*@
                    @*<a class="btn btn-black btn-sm" href="#"><i class="icon-heart"></i>Add to wishlist</a>*@
                </div>
                <p class="p-style2">@Html.Raw(Model.Description)</p>
                <div class="row" style="padding: 20px">
                    <h3>Added to Catalog on: @Model.Created.ToShortDateString()</h3>
                    @if (Model.Updated.HasValue)
                    {
                        <h5>Last Updated: @Model.Updated.Value.ToShortDateString()</h5>
                    }
                </div>
                <div class="promo-labels">
                    @*<div data-content="This is a place for the unique commercial offer. Make it known."><span><i class="fa fa-truck"></i>Free delivery</span></div>*@
                    @if (User.Identity.IsAuthenticated)
                    {
                        using (Html.BeginForm("Create", "CartItems", new { id = Model.Id }, FormMethod.Post, new { id="detailsForm"}))
                        {
                            @Html.AntiForgeryToken()
                        }
                        <a href="javascript:document.getElementById('detailsForm').submit()"><div data-content="Items in your shopping cart will stay there until you remove them or submit an order"><i class="icon-shopping-cart-content"></i>Add to Cart</div></a>
                    }
                    <a href="@Url.Action("Index")"><div><i class="icon-arrow-left"></i>Return to Index</div></a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a href="@Url.Action("Edit", new { id = Model.Id})"><div><span><i class="icon-paper-pen"></i>Edit</span></div></a>
                        <a href="@Url.Action("Delete", new { id = Model.Id})"><div><span><i class="icon-delete"></i>Delete</span></div></a>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
