@model IEnumerable<ShoppingCartNew.Models.Code_First.Item>

@{
    ViewBag.Title = "Index";
}

<section class="catalog-grid">
    <div class="container">
        <h2>Item Index @ViewBag.ItemType @if(User.IsInRole("Admin")){<button class="btn btn-primary pull-right" onclick="location.href='@Url.Action("Create", "Items")'" style="font-size: 14px">Add Item</button>}@if(ViewBag.ItemType != null){<button class="btn btn-primary pull-right" onclick="location.href='@Url.Action("Index", "Items")'" style="font-size: 14px">Remove Filter</button>}</h2>
        <h5>@ViewBag.ItemCount @if (ViewBag.ItemCount > 1 || ViewBag.ItemCount == 0) {<span>Items</span> } else {<span>Item</span>}</h5>
        @*<div class="sorting">
            <a href="#">Sort by name</a>
            <a href="#">Sort by price</a>
        </div>*@
        <hr />
        <div class="row">
            @foreach (var item in Model)
            {
                if (item.OnSale == true)
                {
                    <!--Tile-->
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="tile">
                            <div class="badges">
                                <span class="sale">Sale</span>
                            </div>
                            <div class="price-label">$ @item.SalePrice</div>
                            <div class="price-label old-price">$ @item.Price</div>
                            <a href="@Url.Action("Details", new { id = item.Id })">
                                <img src="@item.MediaURL" alt="1" />
                                <span class="tile-overlay"></span>
                            </a>
                            <div class="footer">
                                <a href="@Url.Action("Details", new { id = item.Id })">@item.Name</a>
                                @*<span>@item.Description</span>*@
                                @using (Html.BeginForm("Create", "CartItems", new { id = item.Id },FormMethod.Post))
                                {
                                @Html.AntiForgeryToken()
                                    <input type="submit" class="btn btn-primary" value="Add to Cart" />
                                }
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <!--Tile-->
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="tile">
                            <div class="price-label">$ @item.Price</div>
                            <a href="@Url.Action("Details", new { id = item.Id })">
                                <img src="@item.MediaURL" alt="1" />
                                <span class="tile-overlay"></span>
                            </a>
                            <div class="footer">
                                <a href="@Url.Action("Details", new { id = item.Id })">@item.Name</a>
                                @*<span>@item.Description</span>*@
                                @using (Html.BeginForm("Create", "CartItems", new { id = item.Id }, FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="submit" class="btn btn-primary" value="Add to Cart" />
                                }
                            </div>
                        </div>
                    </div>
                }
            }         
        </div>
    </div>
</section>
