@model IEnumerable<ShoppingCartNew.Models.Code_First.Item>

@{
    ViewBag.Title = "Search Results";
}

<section class="catalog-grid">
    <div class="container">
        <h2>You Searched for '@ViewBag.SearchAttempt' (@Model.Count() @if (Model.Count() > 1) {<span>Results</span>} else {<span>Result</span>})</h2>
        <hr />
        <div class="row">
            @foreach (var item in Model)
            {
                if (item.OnSale == true)
                {
                    <!--Tile-->
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="tile">
                            <div class="badges">
                                <span class="sale">Sale</span>
                            </div>
                            <div class="price-label">$ @item.SalePrice</div>
                            <div class="price-label old-price">$ @item.Price</div>
                            <a href="@Url.Action("Details", new { id = item.Id })">
                                <img src="@item.MediaURL" alt="1" />
                                <span class="tile-overlay"></span>
                            </a>
                            <div class="footer">
                                <a href="@Url.Action("Details", new { id = item.Id })">@item.Name</a>
                                <span>@item.Description</span>
                                <button class="btn btn-primary">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <!--Tile-->
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="tile">
                            <div class="price-label">$ @item.Price</div>
                            <a href="@Url.Action("Details", new { id = item.Id })">
                                <img src="@item.MediaURL" alt="1" />
                                <span class="tile-overlay"></span>
                            </a>
                            <div class="footer">
                                <a href="@Url.Action("Details", new { id = item.Id })">@item.Name</a>
                                <span>@item.Description</span>
                                <button class="btn btn-primary">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
