@model ShoppingCartNew.Models.Code_First.Order

@{
    ViewBag.Title = "Submit Order";

    var shipping = ViewBag.CartItemsTotalCost / 10;
    var taxes = ViewBag.CartItemsTotalCost / 20;
    var total = ViewBag.CartItemsTotalCost + shipping + taxes;
}
<!--Empty Cart Modal-->
<div class="modal fade" id="cancelOrderModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h2>Are You Sure You Want to Cancel This Order?</h2>
            </div>
            <div class="modal-body">
                <h1 style="font-size: 14px">
                    <a href="@Url.Action("Index","CartItems")" class="btn btn-black pull-right">Yes</a>
                    <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true">No</button>
                </h1>
                <br /><br />
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<section class="shopping-cart">
    <div class="container">
        <div class="row">
            <!--Items List-->
            <div class="col-lg-9 col-md-9">
                <h2 class="title">Order Submission Form <button class="btn btn-primary pull-right" style="font-size: 14px" data-toggle="modal" data-target="#cancelOrderModal">Cancel Order</button></h2>
                <hr />  
                @using (Html.BeginForm("Create", "Orders", FormMethod.Post, new { id = "confirmPurchase" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <label class="control-label col-md-2">Card</label>
                            <div class="col-md-10">
                                @Html.DropDownList("CardId", null, "", htmlAttributes: new { @class = "form-control", required = "true" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", required = "true" } })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", required = "true" } })
                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.StateId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("StateId", null, "", htmlAttributes: new { @class = "form-control", required = "true" })
                                @Html.ValidationMessageFor(model => model.StateId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Zip</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Zipcode, new { htmlAttributes = new { @class = "form-control", required = "true" } })
                                @Html.ValidationMessageFor(model => model.Zipcode, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                }
            </div>

            <!--Sidebar-->
            <div class="col-lg-3 col-md-3 animated fadeInRight" style="animation-delay: .25s;animation-duration: .25s;">
                <h3 style="margin-bottom: 29px">Cart Totals</h3>
                <hr />
                <form class="cart-sidebar" method="post">
                    <div class="cart-totals">
                        <table>
                            <tr>
                                <td>Cart Subtotal</td>
                                <td class="total align-r">$ @ViewBag.CartItemsTotalCost</td>
                            </tr>
                            <tr class="">
                                <td>Shipping</td>
                                <td class="align-r">$ @shipping</td>
                            </tr>
                            <tr class="devider">
                                <td>Taxes</td>
                                <td class="align-r">$ @taxes</td>
                            </tr>
                            <tr>
                                <td>Order Total</td>
                                <td class="total align-r">$ @total</td>
                            </tr>
                        </table>
                        @if (ViewBag.CartItemsTotalCost > 0)
                        {
                            <input class="btn btn-primary btn-block" onclick="javascript:document.getElementById('confirmPurchase').submit()" value="Confirm Purchase"/>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</section><!--Shopping Cart Close-->
@*<div style="padding: 40px">
    <h2>Order Submission Form</h2>
    <hr />
@using (Html.BeginForm("Create", "Orders", FormMethod.Post, new { id = "confirmPurchase" }))
{
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label class="control-label col-md-2">Card</label>
                <div class="col-md-10">
                    @Html.DropDownList("CardId", null, "", htmlAttributes: new { @class = "form-control", required = "true" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", required = "true" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", required = "true" } })
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("StateId", null, "", htmlAttributes: new { @class = "form-control", required = "true" })
                    @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Zip</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Zipcode, new { htmlAttributes = new { @class = "form-control", required = "true" } })
                    @Html.ValidationMessageFor(model => model.Zipcode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div class="pull-right">
        @Html.ActionLink("Back to Cart", "Index", "CartItems")
    </div>
</div>*@
