@model ShoppingCartNew.Models.Code_First.Order

@{
    ViewBag.Title = "Submit Order";

    var shipping = ViewBag.CartItemsTotalCost / 10;
    var taxes = ViewBag.CartItemsTotalCost / 20;
    var total = ViewBag.CartItemsTotalCost + shipping + taxes;
}
<!--Cancel Order Modal-->
<div class="modal fade" id="cancelOrderModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h2>Are You Sure You Want to Cancel This Order?</h2>
            </div>
            <div class="modal-body">
                <h1 style="font-size: 14px">
                    <a href="@Url.Action("Index","CartItems")" class="btn btn-black pull-right">Yes</a>
                    <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true">No</button>
                </h1>
                <br /><br />
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--Submit Order Modal-->
<div class="modal fade" id="submitOrderModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h2>Are You Sure You Want to Finalize This Order?</h2>
            </div>
            <div class="modal-body">
                <h1 style="font-size: 14px">
                    <button type="button" class="btn btn-primary pull-right" onclick="javascript: document.getElementById('orderBtn').click()" data-dismiss="modal" aria-hidden="true">Yes</button>
                    <button type="button" class="btn btn-black pull-right" data-dismiss="modal" aria-hidden="true">No</button>
                </h1>
                <br /><br />
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<section class="shopping-cart">
    <div class="container">
        <div class="row">
            <!--Items List-->
            <div class="col-lg-9 col-md-9">
                <h2 class="title">Order Submission Form <button class="btn btn-primary pull-right" style="font-size: 14px" data-toggle="modal" data-target="#cancelOrderModal">Cancel Order</button></h2>
                <hr />  
                @using (Html.BeginForm("Create", "Orders", FormMethod.Post, new { id = "confirmPurchase" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <h3 style="color: #ff9016">Payment</h3>
                        <div class="form-group">
                            <label class="control-label col-md-2">Card</label>
                            <div class="col-md-10">
                                @Html.DropDownList("CreditCardId", null, "", htmlAttributes: new { @class = "form-control", required = "true" })
                            </div>
                        </div>
                        <hr />
                        <h3 style="color: #ff9016">Shipping</h3>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", required = "true" } })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", required = "true" } })
                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">State</label>
                            <div class="col-md-10">
                                @Html.DropDownList("StateId", null, "", htmlAttributes: new { @class = "form-control", required = "true" })
                                @Html.ValidationMessageFor(model => model.StateId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Zip</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Zipcode, new { htmlAttributes = new { @class = "form-control", required = "true" } })
                                @Html.ValidationMessageFor(model => model.Zipcode, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <input id="orderBtn" type="submit" class="btn btn-black hidden" value="test" />
                    </div>
                }
            </div>

            <!--Sidebar-->
            <div class="col-lg-3 col-md-3 animated fadeInRight" style="animation-delay: .25s;animation-duration: .25s;">
                <h3 style="margin-bottom: 29px">Cart Totals</h3>
                <hr />
                <form class="cart-sidebar" method="post">
                    <div class="cart-totals">
                        <table>
                            <tr>
                                <td>Cart Subtotal</td>
                                <td class="total align-r">$ @ViewBag.CartItemsTotalCost</td>
                            </tr>
                            <tr class="">
                                <td>Shipping</td>
                                <td class="align-r">$ @shipping</td>
                            </tr>
                            <tr class="devider">
                                <td>Taxes</td>
                                <td class="align-r">$ @taxes</td>
                            </tr>
                            <tr>
                                <td>Order Total</td>
                                <td class="total align-r">$ @total</td>
                            </tr>
                        </table>
                        @if (ViewBag.CartItemsTotalCost > 0)
                        {
                            <input class="btn btn-primary btn-block" data-toggle="modal" data-target="#submitOrderModal" value="Confirm Purchase"/>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</section><!--Shopping Cart Close-->

<section class="catalog-grid">
    @foreach (var item in ViewBag.CartItems)
    {
        string uniqueId = item.Id + "-deleteFromCart";
        using (Html.BeginForm("Delete", "CartItems", new { id = item.Id, orderCreate = true }, FormMethod.Post, new { id = uniqueId }))
        {
            @Html.AntiForgeryToken()
        }
    }
    <div class="container">
        <h2 class="light-weight uppercase" style="color: black">Items in your Cart<input class="btn btn-black pull-right" onclick="javascript:document.getElementById('updateCart').submit()" name="update-cart" value="Update Quantities" style="font-size: 14px"></h2>
        <hr />
        <div class="row">
            @using (Html.BeginForm("UpdateCart", "CartItems", new { orderCreate = true }, FormMethod.Post, new { id = "updateCart", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                foreach (var item in ViewBag.CartItems)
                {
                    
                    <!--Tile-->
                    <div class="col-lg-3 col-md-4 col-sm-6" style="margin-bottom: 20px">
                        <a href="javascript:document.getElementById('@item.Id-deleteFromCart').submit()" class="btn btn-block btn-sm btn-black" style="font-size: 12px">Remove</a>
                        <div class="tile">
                            <div class="badges">
                                <span class="sale">QTY: @item.Count</span>
                            </div>
                            @if (item.Count > 1)
                            {
                                var itemPrice = item.UnitTotal / item.Count;

                                <div class="price-label">$ @item.UnitTotal</div>
                                <div class="price-label old-price" style="text-decoration:none">$ @itemPrice per</div>
                            }
                            else
                            {
                                <div class="price-label">$ @item.UnitTotal</div>
                            }
                            <a href="@Url.Action("Details", "Items", new { id = item.ItemId })" style="position:relative;overflow: hidden;padding-bottom:100%;">
                                <img src="@item.Item.MediaURL" alt="" style="position: absolute;max-width: 100%;max-height: 100%;top: 50%;left: 50%;transform: translateX(-50%) translateY(-50%);" />
                                <span class="tile-overlay"></span>
                            </a>
                            <div class="footer" style="height: 150px;max-height: 150px;overflow-y: auto">
                                <a href="@Url.Action("Details", "Items", new { id = item.ItemId })">@item.Item.Name</a>
                                <span>@Html.Raw(item.Item.Description)</span>
                            </div>
                        </div>
                        <div class="qnt-count">
                            <center>
                                <h6>Quantity</h6>
                                <a class="incr-btn" href="#">-</a>                             
                                <input id="@item.Id" name="quantities" class="quantity form-control" type="text" value="@item.Count" style="max-width: 60px">
                                <a class="incr-btn" href="#">+</a>
                            </center>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>