@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { returnUrl = Request.Url }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    }
    <div class="toolbar group">
        <a class="login-btn btn-outlined-invert" href="@Url.Action("Index", "Manage")"><i class="icon-profile"></i><span><b style="color: #ff9016 !important">@ViewBag.FirstName</b></span></a>
        <div class="cart-btn">
            <a class="btn btn-outlined-invert" href="@Url.Action("Index", "CartItems")">@if (ViewBag.CartItems.Count > 0){<i class="icon-shopping-cart-content"></i>}else{<i class="icon-shopping-cart"></i>}<span>@ViewBag.CartItems.Count</span><b>$ @ViewBag.CartItemsTotalCost</b></a>
            <!--Cart Dropdown-->
            <div class="cart-dropdown">
                <span></span><!--Small rectangle to overlap Cart button-->
                <div class="body">
                    <table>
                        <tr>
                            <th>Items</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                        @foreach (var item in ViewBag.CartItems)
                        {
                            <tr class="item">
                                <td><div class=""></div><a style="margin-left: 20px" href='@Url.Action("Details","Items", new { id = item.Item.Id })'>@item.Item.Name</a></td>
                                <td><input type="text" value="@item.Count"></td>
                                <td class="price">$ @item.UnitTotal</td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="footer group">
                    <div class="buttons">
                        <a class="btn btn-outlined-invert" href="checkout.html"><i class="icon-download"></i>Checkout</a>
                        <a class="btn btn-outlined-invert" href="shopping-cart.html"><i class="icon-shopping-cart-content"></i>To cart</a>
                    </div>
                    <div class="total">$ @ViewBag.CartItemsTotalCost</div>
                </div>
            </div><!--Cart Dropdown Close-->
        </div>

        <button class="search-btn btn-outlined-invert"><i class="icon-magnifier"></i></button>
        <a class="login-btn btn-outlined-invert" href="javascript:document.getElementById('logoutForm').submit()"><span><b>L</b>ogoff</span></a>
    </div>
}
else
{
    <div class="toolbar group">
        <a class="login-btn btn-outlined-invert" href="@Url.Action("Login", "Account", new { returnUrl = Request.Url})"><i class="icon-profile"></i><span><b>L</b>ogin</span></a>

        <div class="cart-btn">
            <div class="btn btn-outlined-invert" style="cursor:default"><i class="icon-shopping-cart"></i><span>0</span></div>            
        </div>

        <button class="search-btn btn-outlined-invert"><i class="icon-magnifier"></i></button>
    </div>
}
