<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>E V O L V E</title>
    <!--SEO Meta Tags-->
    <meta name="description" content="Responsive HTML5 E-Commerce Template" />
    <meta name="keywords" content="responsive html5 template, e-commerce, shop, bootstrap 3.0, css, jquery, flat, modern" />
    <meta name="author" content="8Guild" />
    <!--Mobile Specific Meta Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!--Favicon-->
    <link rel="shortcut icon" href="~/assets/icons/orange_logo.ico" type="image/x-icon">
    <link rel="icon" href="~/assets/icons/orange_logo.ico" type="image/x-icon">
    <!--Master Slider Styles-->
    <link href="~/assets/masterslider/style/masterslider.css" rel="stylesheet" media="screen">
    <!--Styles-->
    <link href="~/assets/css/styles.css" rel="stylesheet" media="screen">
    <link href="~/Content/animate.css" rel="stylesheet" media="screen">

    <!--Modernizr-->
    <script src="~/assets/js/libs/modernizr.custom.js"></script>
    <!--Adding Media Queries Support for IE8-->
    <!--[if lt IE 9]>
      <script src="~/assets/js/plugins/respond.js"></script>
    <![endif]-->
</head>

<!--Body-->
<body style="overflow-x: hidden">

    <!--Login Modal-->
    @*<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h2>Login or <a href="register.html">Register</a></h2>
                    <p class="large">Use social accounts</p>
                    <div class="social-login">
                        <a class="facebook" href="#"><i class="fa fa-facebook-square"></i></a>
                        <a class="google" href="#"><i class="fa fa-google-plus-square"></i></a>
                        <a class="twitter" href="#"><i class="fa fa-twitter-square"></i></a>
                    </div>
                </div>
                <div class="modal-body">
                    <form class="login-form">
                        <div class="form-group group">
                            <label for="log-email">Email</label>
                            <input type="email" class="form-control" name="log-email" id="log-email" placeholder="Enter your email" required>
                            <a class="help-link" href="#">Forgot email?</a>
                        </div>
                        <div class="form-group group">
                            <label for="log-password">Password</label>
                            <input type="text" class="form-control" name="log-password" id="log-password" placeholder="Enter your password" required>
                            <a class="help-link" href="#">Forgot password?</a>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="remember"> Remember me</label>
                        </div>
                        <input class="btn btn-black" type="submit" value="Login">
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>*@<!-- /.modal -->
    <!--Header-->
    <header data-offset-top="500" data-stuck="600">
        <!--data-offset-top is when header converts to small variant and data-stuck when it becomes visible. Values in px represent position of scroll from top. Make sure there is at least 100px between those two values for smooth animation-->
        <!--Search Form-->
        @using (Html.BeginForm("SearchResults", "Items", FormMethod.Post, new { @class = "search-form closed" }))
        {
            @Html.AntiForgeryToken()
            <div class="container">
                <div class="close-search"><i class="icon-delete"></i></div>
                    <div class="form-group">
                        <label class="sr-only" for="search-hd">Search for product</label>
                        <input type="text" class="form-control" name="search" id="search-hd" placeholder="Search for product">
                        <button type="submit"><i class="icon-magnifier"></i></button>
                    </div>
            </div>
        }

        <!--Mobile Menu Toggle-->
        <div class="menu-toggle" style="margin-right: 20px"><i class="fa fa-list"></i></div>

        <div class="container hidden-xs">
            <a class="logo animated fadeInDown" href="@Url.Action("Index","Home")"><img src="~/assets/img/orange_logo.png" style="transform: rotate(-100deg); margin-top: -20px; position: absolute" alt="EVOLVE" /></a>
        </div>

        <!--Main Menu-->
        <nav class="menu">
            <div class="container">
                <ul class="main">
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="hide-sm">
                            <a href="@Url.Action("Index", "Admin")"><span>A</span>dmin</a>
                        </li>
                    }
                    <li class="hide-sm">
                        <a href="@Url.Action("Index", "Home")"><span>H</span>ome</a>
                    </li>
                    <li class="hide-sm">
                        <a href="@Url.Action("About", "Home")"><span>A</span>bout</a>
                    </li>
                    <li class="hide-sm">
                        <a id="contactScroll" href="#"><span>C</span>ontact</a>
                    </li>
                </ul>
            </div>

            <div class="catalog-block">
                <div class="container">
                    <ul class="catalog" style="text-align:left">
                        <li class=""><a href="@Url.Action("Index","Items")"><b>CATALOG</b></a></li>
                        <li class="has-submenu pull-left">
                            @if (ViewBag.BiggestSale != null)
                                {
                                var priceDiff = ViewBag.BiggestSale.Price - ViewBag.BiggestSale.SalePrice;
                                var percentOff = Math.Round((priceDiff / ViewBag.BiggestSale.Price) * 100);

                                <a href="@Url.Action("Details","Items", new { id = ViewBag.BiggestSale.Id })"><b>BARGAIN</b><i class="fa fa-chevron-down"></i></a>
                                <ul class="submenu">
                                    <li style="text-align: center; font-size: 30px; background-color:#e27600"><h1 style="color:white;margin-top: 20px"><b> @percentOff <span style="font-size: 40px">% </span></b> <span style="font-size: 45px"><br />Off !</span></h1></li>
                                    <li class="offer">
                                        <div class="col-1" style="padding-top: 10px">
                                            <h3 style="margin-top: 0px; margin-bottom: 0px"><a href="@Url.Action("Details","Items", new { id = ViewBag.BiggestSale.Id })" style="color: #ff9016; font-size: 14px; margin-left: -10px"><b>@ViewBag.BiggestSale.Name</b></a><b>$ @ViewBag.BiggestSale.SalePrice</b></h3><hr style="margin-bottom: 0px;"/><br />
                                                @if (ViewBag.BiggestSale.Description.Length > 50)
                                                { 
                                                    <span>@Html.Raw(ViewBag.BiggestSale.Description.Substring(0, 50) + "... ")</span>
                                                }
                                                else
                                                {
                                                    <span>@Html.Raw(ViewBag.BiggestSale.Description)</span>
                                                }
                                            @using (Html.BeginForm("Create", "CartItems", new { id = ViewBag.BiggestSale.Id }, FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()
                                                <input type="submit" class="btn btn-primary" style="font-size: 14px; margin-top:-20px" value="Add to Cart" />
                                            }
                                        </div>
                                        <div class="col-2">
                                            <a href="@Url.Action("Details","Items", new { id = ViewBag.BiggestSale.Id })"><img class="img-thumbnail center-block" src="@ViewBag.BiggestSale.MediaURL" style="max-height: 192px" alt="Special Offer" /></a>
                                        </div>
                                    </li>
                                </ul>
                            }
                        </li>
                        @if (Request.IsAuthenticated)
                        {
                            <li class=""><a href="@Url.Action("Index","CartItems")"><b>CART</b></a></li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

        <div class="toolbar-container">
            <div class="container">
                <!--Toolbar-->
                @Html.Partial("_LoginPartial")
                <!--Toolbar Close-->
            </div>
        </div>
    </header><!--Header Close-->
    <!--Page Content-->
    <div class="page-content">
        @RenderBody()
    </div><!--Page Content Close-->
    <!--Sticky Buttons-->
    <div class="sticky-btns">
        <form class="quick-contact" method="post" name="quick-contact">
            <h3>Contact us</h3>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
            <div class="form-group">
                <label for="qc-name">Full name</label>
                <input class="form-control input-sm" type="text" name="qc-name" id="qc-name" placeholder="Enter full name" required>
            </div>
            <div class="form-group">
                <label for="qc-email">Email</label>
                <input class="form-control input-sm" type="email" name="qc-email" id="qc-email" placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <label for="qc-message">Your message</label>
                <textarea class="form-control input-sm" name="qc-message" id="qc-message" placeholder="Enter your message" required></textarea>
            </div>
            <input class="btn btn-black btn-sm btn-block" type="submit" value="Send">
        </form>
        <span id="qcf-btn"><i class="fa fa-envelope"></i></span>
        <span id="scrollTop-btn"><i class="fa fa-chevron-up"></i></span>
    </div><!--Sticky Buttons Close-->
    <!--Subscription Widget-->
    <section class="subscr-widget gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-8 col-sm-8">
                    <h2>Subscribe to Our News</h2>
                    <form class="subscr-form" role="form" autocomplete="off">
                        <div class="form-group">
                            <label class="sr-only" for="subscr-name">Enter name</label>
                            <input type="text" class="form-control" name="subscr-name" id="subscr-name" placeholder="Enter name" required>
                            <button class="subscr-next"><i class="icon-arrow-right"></i></button>
                        </div>
                        <div class="form-group fff" style="display: none">
                            <label class="sr-only" for="subscr-email">Enter email</label>
                            <input type="email" class="form-control" name="subscr-email" id="subscr-email" placeholder="Enter email" required>
                            <button type="submit" id="subscr-submit"><i class="icon-check"></i></button>
                        </div>
                    </form>
                    <p class="p-style2">Please fill the field before continuing</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-1">
                    <blockquote class="blockquote-reverse" style="border-right: 5px solid black">
                        <p class="p-style3" style="font-size: 16px">Get email notifications every time we drop new merch on the site or when any of our items go on sale!</p>
                        @*<footer>Someone famous in Source Title</footer>*@
                    </blockquote>
                </div>
            </div>
        </div>
    </section><!--Subscription Widget Close-->
    <!--Footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <div class="info">
                        <a class="logo text-nowrap" href="@Url.Action("Index","Home")" style="text-align: center; margin-bottom: 0px; border-left: 2px solid white"><h1><b style="color: black; font-size: 85px">E</b> <span  style="font-size: 65px">V O L V E</span></h1></a>
                        <blockquote style="border-left: 2px solid white">
                            <p style="font-size: 12px">E-Commerce has extensively matured in the last decade and it continues to grow fast even today. We are living in exciting times, where digital items are becoming smarter and advanced day after day.</p>
                            @*<footer>Someone famous in Source Title</footer>*@
                        </blockquote>
                        <div class="social">
                            <a href="https://www.instagram.com/coderfoundry/" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.youtube.com/channel/UCdy4oVOw9qX3_47OFudDCeA" target="_blank"><i class="fa fa-youtube-square"></i></a>
                            <a href="https://twitter.com/coderfoundry?lang=en" target="_blank"><i class="fa fa-twitter-square"></i></a>
                            <a href="https://www.facebook.com/coderfoundry/" target="_blank"><i class="fa fa-facebook-square"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <h2>Latest Items</h2>
                    <ul class="list-unstyled">
                        @{
                            int lItems = 0;
                            foreach (var item in ViewBag.Latest)
                            {
                                <li>@item.Created.ToString("MMMM"), @item.Created.Day <a href="@Url.Action("Details","Items", new { id = item.Id })" style="margin-left: 10px">@item.Name</a></li>
                                lItems++;
                                if (lItems == 7) { break; }
                            }
                        }
                    </ul>
                </div>
                <div id="contactDest" class="contacts col-lg-3 col-md-3 col-sm-3">
                    <h2>Contact</h2>
                    <p class="p-style3">
                        <b>TRIAD CAMPUS</b><br />
                        1231 Shields Rd., Suite 5<br />
                        Kernersville, NC 27284<br />

                        <b>CHARLOTTE CAMPUS</b><br />
                        8430 University Park Dr., Suite 650<br />
                        Charlotte, NC 28262<br />

                        <b>NEW YORK CAMPUS</b><br />
                        33 Irving Place<br />
                        New York, NY 10003<br />
                    </p>
                </div>
            </div>
            <div class="copyright">
                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-7">
                        <p>&copy; <b>E V O L V E</b> - @System.DateTime.Now.Year | All Rights Reserved | Designed by <a href="http://coderfoundry.com/ryanchapman" target="_blank">Ryan Chapman</a></p>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <div class="payment">
                            <img src="~/assets/img/payment/visa.png" alt="Visa" />
                            @*<img src="~/assets/img/payment/paypal.png" alt="PayPal" />*@
                            <img src="~/assets/img/payment/master.png" alt="Master Card" />
                            <img src="~/assets/img/payment/discover.png" alt="Discover" />
                            @*<img src="~/assets/img/payment/amazon.png" alt="Amazon" />*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!--Footer Close-->
    <!--Javascript (jQuery) Libraries and Plugins-->
    <script src="~/assets/js/libs/jquery-1.11.1.min.js"></script>
    <script src="~/assets/js/libs/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="~/assets/js/libs/jquery.easing.min.js"></script>
    <script src="~/assets/js/plugins/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins/smoothscroll.js"></script>
    <script src="~/assets/js/plugins/jquery.validate.min.js"></script>
    <script src="~/assets/js/plugins/icheck.min.js"></script>
    <script src="~/assets/js/plugins/jquery.placeholder.js"></script>
    <script src="~/assets/js/plugins/jquery.stellar.min.js"></script>
    <script src="~/assets/js/plugins/jquery.touchSwipe.min.js"></script>
    <script src="~/assets/js/plugins/jquery.shuffle.min.js"></script>
    <script src="~/assets/js/plugins/lightGallery.min.js"></script>
    <script src="~/assets/js/plugins/owl.carousel.min.js"></script>
    <script src="~/assets/js/plugins/masterslider.min.js"></script>
    <script src="~/assets/js/scripts.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $("#contactScroll").click(function () {
                $('html, body').animate({
                    scrollTop: $("#contactDest").offset().top
                }, 2000);
            })
        });
    </script>
    <script>
        $(document).on('invalid-form.validate', 'form', function () {
            var button = $(this).find('input[type="submit"], button[type="submit"]');
            setTimeout(function () {
                button.removeAttr('disabled');
            }, 1);
        });
        $(document).on('submit', 'form', function () {
            var button = $(this).find('input[type="submit"], button[type="submit"]');
            setTimeout(function () {
                button.attr('disabled', 'disabled');
            }, 0);
        });
    </script>
</body><!--Body Close-->
</html>
